#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.4.0.{build}

#---------------------------------#
#      environment configuration  #
#---------------------------------#

nuget:
  disable_publish_on_pr: true

# Build worker image (VM template)
image:
- Visual Studio 2019

#---------------------------------#
#      build configuration        #
#---------------------------------#
build_script:
- ps: .\tools\Build-Nuget.ps1

#---------------------------------#
#      artifacts                  #
#---------------------------------#
artifacts:
- path: .\GitExtensions.Extensibility.*.nupkg
  name: NuGet

deploy:
- provider: NuGet
  name: production
  artifact: /GitExtensions.Extensibility.*\.nupkg/
  api_key:
    secure: CPovigLbxQefj/C4xgOWGn2yWcEw88J5mZ2dPSN60nmU8IDINhSkS6fi+F/WCu1R
  skip_symbols: false
  on:
    branch: master
    appveyor_repo_tag: true
